.slider {
    width: 1200px;
    height: 25%;
    margin: 0 auto;
    padding: 20px;
    color: red;
    text-align: center;
    border: 2px solid red;
    border-radius: 12px;
}

.slide img {
    width: 100%;
    height: 500px;
    border-radius: 10px;
}

.buttons {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

button {
    padding: 8px 15px;
    border-radius: 8px;
    border: none;
    background: red;
    color: black;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: darkred;
}
