.Title-container{
    width: 200px;
    position: relative;
    top: 700px;
    left: 640px;
}

.Title-container2{
    position: relative;
    width: 200px;
    height: 200px;
    top: 1200px;
    left: 640px;

}

.Title{
    font-size: 50px;
    font-weight: bold;
    font-family: cursive;
    color: red;
}