*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: black;
}

.slider{
  position: relative;
  top: 800px;

}

.TrueFocus-container{
position: relative;
  top: 1200px;
}




